<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3 p-3 border rounded shadow-sm">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, {size:50}) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at.in_time_zone('Tokyo') %> (<%= distance_of_time_in_words_to_now(micropost.created_at) %> ago)</span>
        </div>
        <div>
          <%= simple_format h micropost.content %>
        </div>
        <div class="mr-3" style="display: inline-block">
          <%= render 'favorites/favorite_button', micropost: micropost %>
        </div>
        <div style="display: inline-block">
          <% if current_user == micropost.user %>
            <%= link_to 'Delete', micropost, method: :delete, data: {confirm: 'You sure?'}, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>